trained_policy/trained_policy_mce_irl.pth

nohup.out

# Aretaon Diection Velocity
train_As22a6.log
run_As22a6.pid

# Aretaon Velocity Acceleration
train_As31a6.log
run_As31a6.pid

# Medauroidea Direction Velocity
train_Ms35a5.log
run_Ms35a5.pid

# Medauroidea Velocity Acceleration
train_Ms41a5.log
run_Ms41a5.pid